<!doctype html>
    <meta charset="UTF-8"> 
    <title>VTDLP Ingest</title>

    <h1>VTDLP Ingest</h1>
    <p>This tool ingests media/metadata into the VTDLP Archive system.</p>
    <p>Record type is determined by the metadata filename selected below (*_archive.csv | *_collection.csv)</p>
    <p>1. Ingest Collection metadata file first</p>
    <p>2. Ingest Archive metadata file after Collection</p>

    <div>
        <form action="/submit" method="post" enctype="multipart/form-data">
            <div>
                <label for="collection_identifier">Collection Identifier:</label>
                <input type="text" id="collection_identifier" name="collection_identifier" >
            </div>
            <div>
                <label for="metadata_input">Metadata CSV:</label>
                <input type="file" id="metadata_input" name="metadata_input">
            </div>
            <div>
                <button type="submit" id="ingest_button">Run Ingest</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>