<!doctype html>
<html lang="en">
<head>
    <title>Ingest Successful</title>
</head>
<body>
    <h1>Ingest Complete!</h1>
    <p>Your ingest operation finished successfully.</p>
    <a href="/">Return to Ingest form</a>

    <h2>Ingest Results</h2>

    <div>
        <a href="/results/ingested.csv" download>
            <button>Download Ingested Items</button>
        </a>
    </div>
    <div>
        <a href="/results/updated.csv" download>
            <button>Download Updated Items</button>
        </a>
    </div>
    <div>
        <a href="/results/summary.csv" download>
            <button>Download Summary Sheet</button>
        </a>
    </div>
    <div>
        <a href="/results/errors.csv" download>
            <button>Download Error List</button>
        </a>
    </div>
</body>
</html>